extends layout

block content

  h1 Distributed Poker

  div#intro-text.row

    p.small-12.medium-6.small-centered.columns
      | Planning poker is an consensus based technique used by agile teams 
      | to estimate the effort required to complete defined goals.

    p.small-12.medium-6.small-centered.columns
      | This implementation can be used by distributed teams, and is built 
      | using Node JS, Express and Socket.IO. The source code is hosted on 
      | GitHub and all contributions are welcomed.

  div#authenticate.row

    form(id="login",
        class="small-12 small-centered medium-6 columns text-center")
        input(name='email',
              type='email',
              required='required',
              placeholder='youremail@domain.com', 
              class='small-12 columns')
        input(type='submit',
              value='Join',
              class='button success small-12 columns')

  div#poker-room.hidden.text-center

    div.small-12.columns

      div#users.row

      div#results

      div#btn-options.row

        div#reveal-points.button.success.small-6.medium-3.large-2 Reveal

        div#clear-points.button.alert.small-6.medium-3.large-2 Clear

      div#options.row

      div#feed

